:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  color: rgba(255, 255, 255, 0.87);
  background-color: #171719;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  overflow: hidden;
}

.myElement {
  white-space: nowrap;
  overflow: hidden;
}
