

:root {
  --color: rgba(255, 255, 255, 0.87);
  --background: #171719;
  --primary: #dc3435;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Quicksand", sans-serif;
  font-size: 1.6rem;
  background: var(--background);
  color: var(--color);
  overflow: hidden;
}

.container {
  margin: 0 auto;
  width: 70%;
}

.myElement {
  white-space: nowrap;
  overflow: hidden;
}
