:root {
  --textLight: rgba(255, 255, 255, 0.871);
  --textLightAccent: rgba(255, 255, 255, 0.562);
  --accent: #212121;
  --socials: #505050;
  --background: #121212;
  --darkBg: #080a14bf;
  --primary: #cc1100;
  --primaryAccent: #a50e01;
  /* --primary: #ff2200; */
  /* --primary: #ffaa00; */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
  background: var(--background);
  color: var(--textLight);
  /* overflow: hidden; */
  font-weight: 300;
}

.container {
  margin: 0 auto;
  width: 70%;
}

a {
  text-decoration: none;
  color: var(--textLight);
}

.myElement {
  white-space: nowrap;
  overflow: hidden;
}

.highlight {
  color: var(--primary);
}

@media screen and (max-width: 950px), screen and (max-height: 550px) {
  .container {
    width: 90%;
  }
}

@media (min-width: 951px) and (max-width: 1440px) {
  .container {
    width: 95%;
  }
}

@media (min-width: 1441px) and (max-width: 1628px) {
  .container {
    width: 80%;
  }
}
